*{
    margin:0;
    padding:0;
    line-height: 1.5;
}

@media screen and (max-width:1980px){
    div {
        width: 10%;
        height: 10%;
        background-color: black;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
@media screen and (max-width:980px){
    div {
        width: 10%;
        height: 10%;
        background-color: red;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}